@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Outline: #4d148e;
  --Inline: #4db2ce;
  --Topline: #c41910;
  --Backline: #fff;
}

body {
  font-family: 'Fredoka One', 'Gill Sans', sans-serif;
  height: 100vh;
}


a {
  text-decoration: none;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;

}

h1 {
  color: var(--Topline);
  padding-top: 20px;
  font-size: 1.8rem;
}

header-logo {
  text-align: center;
}

h2 {
  color: var(--Outline);
  padding: 10px;
  font-size: 1.6rem;
}

h3 {
  color: var(--Outline);
  padding: 10px;
}

.container {
  width: 90%;
  max-width: 960px;
  padding: 0 10px;
  text-align: center;
  border: var(--Outline) solid 5px;
  border-radius: 20px;
  margin: 5%;
  margin-bottom: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6%;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--Topline);
  display: flexbox;

}

.header ul li a:hover {
  color: #777;
}


.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading-login {
  font-size: 2rem;
  font-weight: 700;
  margin: 20px;
}

.footer {
  margin-bottom: 20px;
}

.footer-coninter {
  display: flexbox;
  flex-wrap: wrap;
}



.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  margin: 1%;
  width: 30%;
}

.icon-box {
  border: var(--Outline) solid 5px;
  border-radius: 20px;

}

.icon-box-found {
  border: var(--Inline) solid 5px;
  border-radius: 20px;
  background-color: var(--Inline);
}

.heading-box {
  height: 10%;
}

.heading-box-found h3 {
  color: var(--Inline);
  text-decoration: line-through solid 4px;
}

.fawesome {
  font-size: 3em;
  padding: 20%;
  top: 50%;
  left: 50%;
}

.icon {
  height: 100%;
  color: var(--Outline);

}


.icon-found {
  height: 100%;
  color: var(--Backline);
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background: var(--Outline);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block-short {
  width: 100%;
  margin-top: 20px;
}

.btn-block {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 150px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

label {
  color: var(--Outline)
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}